In [1]:
# tuples -- like lists -- but immutable and use parenthese ()
t = (1, 2, 3)

In [2]:
my_list = [1, 2, 3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
# multiple types
t2 = ("one", 2)

In [7]:
t2[0]

'one'

In [8]:
t[-1]

3

In [11]:
t3 = ("a", "a", "c")

In [12]:
t3.count("a")

2

In [14]:
# index returns first occurence of value in tuple
t3.index("a")

0

In [15]:
my_list

[1, 2, 3]

In [17]:
my_list[0] = "NEW"
my_list

['NEW', 2, 3]

In [18]:
# tuples are really immutable
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment