In [1]:
# for loops
# usefule for iterable objects

# SYNTAX
# my_iterable = [1, 2, 3]
# for item_name in my_iterable:
#   print(item_name)

my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd: {num}")

Odd: 1
2
Odd: 3
4
Odd: 5
6
Odd: 7
8
Odd: 9
10

In [13]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    #print(f"Value in list: {num} Sum: {list_sum}")
print(f"\ntotal =  {list_sum}")

total =  55

In [14]:
my_str = "Hello, world"

for letter in my_str:
    print(letter)

H
e
l
l
o
,

w
o
r
l
d

In [15]:
for letter in "what":
    print(letter)

w
h
a
t

In [16]:
for _ in "whatever":
    print("!")

!
!
!
!
!
!
!
!

In [ ]:
# tuple

tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [ ]:
my_2nd_list = [(1, 2), (3, 4), (5, 6), (7, 8)]
len(my_2nd_list)

4

In [19]:
for item in my_2nd_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [ ]:
# tuple unpacking -- duplicate tuple structure in for loop to access individual items
for (a, b) in my_2nd_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [ ]:
# don't necessarily need the parentheses -- and can only retrieve certain part of tuple
for a, b in my_2nd_list:
    print(a)

1
3
5
7

In [28]:
my_3rd_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for item in my_3rd_list:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [29]:
for a, b, c in my_3rd_list:
    print(b)

2
5
8

In [32]:
# iterating through a dict returns keys by default
d = {"k1": 1, "k2": 2, "k3": 3}

for item in d:
    print(item)

k1
k2
k3

In [ ]:
# to get tuples of k/v pairs...
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
# now use tuple unpacking to get values only
for key, value in d.items():
    print(value)

1
2
3

In [35]:
# simpler way to get values only
for value in d.values():
    print(value)

1
2
3