In [ ]:
# lists comprehension --- good alternative to for loop + append()

# list = [whatever for whatever in iterable object]

my_string = "hello"
my_list = []

for letter in my_string:
    my_list.append(letter)

my_list

['h', 'e', 'l', 'l', 'o']

In [ ]:
# using lists comprehension instead of for loop + append

my_2nd_list = [letter for letter in my_string]
my_2nd_list

['h', 'e', 'l', 'l', 'o']

In [5]:
x_list = [x for x in "word"]
x_list

['w', 'o', 'r', 'd']

In [6]:
list_range = [num for num in range(1,10)]
list_range

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# con perform operations on numbers as well
sq_range = [num**2 for num in range(1, 10)]
sq_range

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# can add if statements as well
new_list = [x for x in range(1, 10) if x % 2 == 0]
new_list

[2, 4, 6, 8]

In [11]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9 / 5) * temp + 32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [12]:
# compared to for loop

celsius2 = [0, 10, 20, 34.5]
fahrenheit2 = []

for temp in celsius2:
    fahrenheit2.append(((9 / 5) * temp + 32))

fahrenheit2

[32.0, 50.0, 68.0, 94.1]

In [ ]:
# if else in lists comprehension --- look strange syntactically --- hard to read quickly --- probably best to avoid

results = [x if x % 2 == 0 else "ODD" for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [ ]:
# nested loop in list comprehension --- look strange syntactically --- hard to read quickly --- probably best to avoid

# regular nested loop for example

nested_list = []

for x in [2, 4, 6]:
    for y in [1, 10, 100]:
        nested_list.append(x * y)

nested_list

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [19]:
new_nested = [x * y for x in [2, 4, 6] for y in [1, 10, 100]]
new_nested

[2, 20, 200, 4, 40, 400, 6, 60, 600]