In [ ]:
# range --- (start, stop, step)
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

In [ ]:
# useful as a generator --- saves time typing
my_list = list(range(10))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# enumerate can take any iterable object
# enumerate can replace code below
index_count = 0

for letter in "abcde":
    print("At index {}, the letter is {}".format(index_count, letter))
    index_count += 1

At index 0, the letter is a
At index 1, the letter is b
At index 2, the letter is c
At index 3, the letter is d
At index 4, the letter is e

In [ ]:
# enumerate returns a tuple
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
# use tuple unpacking

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [ ]:
# zip combines multiple lists --- pairs items into tuples
my_list1 = [1, 2, 3]
my_list2 = ["a", "b", "c"]

for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [11]:
# multiple lists

my_list1 = [1, 2, 3]
my_list2 = ["a", "b", "c"]
my_list3 = [1.5, 2.5, 3.5]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 1.5)
(2, 'b', 2.5)
(3, 'c', 3.5)

In [2]:
# predicated on shortest list --- only returns len 3 tuples
my_list1 = [1, 2, 3, 4, 5, 6]
my_list2 = ["a", "b", "c"]
my_list3 = [1.5, 2.5, 3.5]

for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 1.5)
(2, 'b', 2.5)
(3, 'c', 3.5)

In [3]:
# cast lists using zip
list(zip(my_list1, my_list2, my_list3))

[(1, 'a', 1.5), (2, 'b', 2.5), (3, 'c', 3.5)]

In [4]:
zipped_list = list(zip(my_list1, my_list2, my_list3))

In [11]:
# in operator --- works in iterable obejcts
"x" in zipped_list

False

In [8]:
(1, "a", 1.5) in zipped_list

True

In [9]:
1 in zipped_list[0]

True

In [ ]:
# in lists
2 in [1, 2, 3]

True

In [ ]:
# in strings
"e" in "hello"

True

In [14]:
# in dicts
d = {"first_key": 345}
"first_key" in d

True

In [15]:
345 in d.values()

True

In [17]:
"first_key" in d.keys()

True

In [19]:
# min and max
my_math_list = [10, 20, 30, 40, 50]
min(my_math_list)

10

In [20]:
max(my_math_list)

50

In [ ]:
# RANDOM library
from random import shuffle

In [25]:
# shuffle is an in-place function
my_shuffle_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
shuffle(my_shuffle_list)
my_shuffle_list

[9, 2, 3, 7, 5, 4, 6, 10, 8, 1]

In [27]:
from random import randint

In [ ]:
# randint(start, stop)
randint(1, 100)

45

In [30]:
randint(1, 100)

77

In [31]:
my_rand_num = randint(0, 10)
my_rand_num

8

In [32]:
# INPUT function
input("Whatever number you want: ")

'44'

In [34]:
entered_str = input("What is your name?")
entered_str

'Joe'

In [35]:
# returns input as a str
entered_num = input("Enter a number")
type(entered_num)

str

In [ ]:
# cast to different type if desired
float(entered_num)

30.0

In [ ]:
# cast to different type if desired
int(entered_num)

30

In [38]:
# can also wrap in desired type
re_entered_num = int(input("Pick another number"))
type(re_entered_num)

int