___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):

    if a % 2 == 0 and b % 2 == 0:
        # return min(a,b)
        if a < b:
            return a
        else:
            return b
    else:
        # return max(a, b)
        if a > b:
            return a
        else:
            return b

In [115]:
# Check
lesser_of_two_evens(2,4)

2

In [116]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [12]:
def animal_crackers(text):

    str_list = text.split()
    first_string = str_list[0]
    second_string = str_list[1]

    if first_string[0].lower() == second_string[0].lower():
        return True
    else:
        return False

In [13]:
# Check
animal_crackers('Levelheaded Llama')

True

In [14]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False
    
    # return (n1 == 20) or (n2 == 20) or (n1 + n2 == 20)

In [121]:
# Check
makes_twenty(20,10)

True

In [122]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    name_list = list(name)
    position = 0

    for letter in name_list:
        if position == 0 or position == 3:
            name_list[position] = letter.upper()
        else:
            pass
        position += 1

    new_name = "".join(name_list)
    return new_name

    # simpler solution

    # first_half = name[:3]
    # second_half = name[3:]
    # return first_half.capitalize() + second_half.capitalize()

In [124]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [125]:
def master_yoda(text):
    text_list = text.split(" ")
    reversed_string = " ".join(reversed(text_list))
    return reversed_string

In [126]:
# Check
master_yoda('I am home')

'home am I'

In [81]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [106]:
def almost_there(n):
    if abs(n) in range(190, 211) or abs(n) in range(90, 111):
        return True
    else:
        return False

In [108]:
# Check
almost_there(104)

True

In [84]:
# Check
almost_there(150)

False

In [85]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [125]:
def has_33(nums):
    position = 0

    for position in range(len(nums)):
        if nums[position] == 3 and nums[position + 1] == 3:
            return True
        else:
            return False
    position += 1

In [112]:
# Check
has_33([1, 3, 3])

True

In [113]:
# Check
has_33([1, 3, 1, 3])

False

In [126]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):

    text_list = list(text)
    empty_list = []
    final_text = ""
    position = 0

    for letter in text_list:
        empty_list.append(letter[position] * 3)
    position += 1

    final_text = "".join(empty_list)

    return final_text

In [160]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [161]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    
    total = a + b + c

    if total <= 21:
        return total
    elif total > 21 and (a == 11) or (b == 11) or (c == 11): # 11 in [a, b, c]
        total = total - 10
        if total > 21:
            return "BUST"
        else:
            return total
    elif total > 21:
        return "BUST"

In [167]:
# Check
blackjack(5,6,7)

18

In [170]:
# Check
blackjack(9,9,9)

'BUST'

In [173]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    position = 0
    running_total = 0

    for number in arr:
        if arr[position] in range(6, 10):
            pass
        else:
            running_total += number
        position += 1
    return running_total

In [2]:
# Check
summer_69([1, 3, 5])

9

In [3]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [180]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [67]:
def spy_game(nums):

    spy_list = [0, 0, 7]
    position = 0
    empty_list = []

    for num in nums:
        if nums[position] == spy_list[0]:
            empty_list.append(nums[position])
        elif nums[position] == spy_list[1]:
            empty_list.append(nums[position])
        elif nums[position] == spy_list[2]:
            empty_list.append(nums[position])
        else:
            pass
        position += 1
    return empty_list == spy_list

In [68]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [69]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [70]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):

    prime_count = 0
    test_range = list(range(2, 10))
    position = 0

    for number in range(2, num):
        if num % number != 0:
            pass
        else:
            prime_count += 1
    return prime_count

In [109]:
# Check
count_primes(100)

91

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!